@charset "UTF-8";

* {
  box-sizing: border-box;
}

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
  margin: 0;
  padding: 0;
}

fieldset, img, input, button {
  border: none;
  padding: 0;
  margin: 0;
  outline-style: none;
}

ul, ol {
  list-style: none;
}

input, button {
  border: none;
  padding: 0;
  margin: 0;
  outline-style: none;
}

button:focus {
  outline: none;
}

select, input {
  vertical-align: middle;
}

select, input, textarea {
  font-size: 12px;
  margin: 0;
}

textarea {
  resize: none;
}


img {
  border: 0;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}


body {
  font: 12px/150% "microsoft yahei" ,Arial, Verdana, "\5b8b\4f53";
  color: #666;
  background: #fff;
}

.clearfix:before, .clearfix:after {
 content: "";
 display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1; /*IE/7/6*/
}

a {
  color: #666;
  text-decoration: none
}

a:hover{
  color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%;
}

s, i, em, u, b {
  font-style: normal;
  text-decoration: none;
}
